.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

::ng-deep {
  .toggle-buttons .p-togglebutton.p-button {
    margin: 0 10px;
  }
}
