/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $dark-gray;
  color: $white;
}
